* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-family: 'SF Pro Display', sans-serif;
  --second-family: 'SF Pro', sans-serif;
  --font3: 'Roboto', sans-serif;
}

/* для испанского */
.lang-es h2 {
  font-size: 9px;
  line-height: 15px;
}
.lang-es .best-offer {
  font-size: 12px;
}
.lang-es .yearly-btn,
.lang-es .weekly-btn {
  padding-right: 42px;
}
.lang-es .footer {
  font-size: 12px;
}

/* для немецкого */
.lang-de h1 {
  font-size: 30px;
  display: inline-block;
  height: 92px;
}
.lang-de h4,
.lang-de #yearly,
.lang-de #yearly-weekly,
.lang-de #weekly {
  font-size: 13px;
}
.lang-de .best-offer {
  font-size: 12px;
}
.lang-de .yearly-btn,
.lang-de .weekly-btn {
  padding-right: 52px;
}
.lang-de .footer {
  font-size: 10px;
}

/* для португальского */
.lang-pt h1 {
  font-size: 36px;
  line-height: 46px;
}
.lang-pt h2 {
  font-size: 10px;
  line-height: 15px;
}
.lang-pt .yearly-btn,
.lang-pt .weekly-btn {
  padding-right: 38px;
}
.lang-pt .best-offer {
  font-size: 12px;
}
.lang-pt .footer {
  font-size: 12px;
}

/* для французского */
.lang-fr h1 {
  font-size: 32px;
  line-height: 46px;
}
.lang-fr h2 {
  font-size: 10px;
  line-height: 15px;
}
.lang-fr h4,
.lang-fr #yearly,
.lang-fr #yearly-weekly,
.lang-fr #weekly {
  font-size: 14px;
}
.lang-fr .yearly-btn,
.lang-fr .weekly-btn {
  padding-right: 40px;
}
.lang-fr .best-offer {
  font-size: 11px;
}
.lang-fr .footer {
  font-size: 10px;
}

body {
  font-family:
    var(--font-family),
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -10; 
  background-image: url('/src/assets/bg.png'); /* Fallback для старых браузеров */
  background-image: url('/src/assets/bg.jpeg'); /* Fallback для браузеров, не поддерживающих webp */
  background-image: url('/src/assets/bg.webp');/* Fallback для браузеров, не поддерживающих image-set */
  background-image: 
  image-set(
    url('/src/assets/bg.webp') 1x,
    url('/src/assets/bg@2x.webp') 2x,
    url('/src/assets/bg@3x.webp') 3x 
    ); 
}
/* retina для браузеров, не поддерживающих image-set */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bg {
    background-image: url('/src/assets/bg@2x.webp');
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .bg {
    background-image: url('/src/assets/bg@3x.webp');
  }
}

.close {
  position: absolute;
  top: 8vh;
}

h1 {
  display: inline-block;
  width: 100%;
  font-weight: 900;
  font-size: 42px;
  font-family: var(--second-family);
  line-height: 1.1;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  margin-top: 31.5vh;
  margin-bottom: 2.8vh;
}
article {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 6px;
  margin-bottom: 4vh;
  height: 146px;
  div {
    flex: 1;
    position: relative;
  }
}
picture {
  display: block;
  width: 100%;
  height: 100%;
}

picture img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  position: absolute;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  bottom: 12px;
  left: 8px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }
  span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
  }
}
.yearly-choice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.best-offer {
  border-radius: 100px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 13px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  width: 117px;
  height: 18px;
  font-family: var(--font3);
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.module-border-wrap {
  position: absolute;
  top: -10px;
  right: 24px;
  padding: 1px;
  border-radius: 100px;
}

.yearly-btn,
.weekly-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  height: 56px;
  padding: 9px 56px 9px 24px;
  backdrop-filter: blur(10.873126983642578px);
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
}

.yearly-btn {
  position: relative;
}

.selected {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  .best-offer {
    background: linear-gradient(90deg, #bc1fef 0%, #0035ff 100%);
    color: #fff;
  }
  .module-border-wrap {
    background: linear-gradient(to right, #fd94f4, #01b4ff);
  }
  .best-offer::before {
    position: absolute;
    content: '';
    background-image: url('/src/assets/path-left.svg');
    width: 128px;
    height: 1px;
    right: 119px;
    top: 8px;
  }
  .best-offer::after {
    position: absolute;
    content: '';
    background-image: url('/src/assets/path-right.svg');
    width: 24.5px;
    height: 27.78px;
    left: 118px;
    top: 8px;
  }
}

.btn {
  background: #ffffff;
  width: 100%;
  border-radius: 100px;
  height: 56px;
  font-weight: 590;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #070b33;
  font-family: var(--second-family);
  border: none !important;
  outline: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  box-shadow: none !important;
}
.footer {
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0px;
  font-family: var(--font-family);
  margin-top: 4.5vh;
  margin-left: 30px;
  margin-right: 30px;
  a {
    color: #ffffff;
    opacity: 0.3;
  }
}

@media (max-width: 375px) {
  /* Для iPhone SE */
  .close {
    top: 4vh;
  }
  h1 {
    margin-top: 23.39vh;
    margin-bottom: 2.1vh;
  }
  article {
    height: 139px;
    gap: 4px;
    margin-bottom: 3.3vh;
  }
  section {
    margin-bottom: 8px;
  }
  .footer {
    margin-top: auto;
    margin-bottom: 8.5px;
    margin-left: 23px;
    margin-right: 23px;
  }
}
